@{
    ViewBag.Title = "Home Page";
}

    <div>
        <div class="display1 space">
            <h1 class="display-1">EVENTOS MX</h1>
        </div>
        <img src="~/Content/img/concierto.jpg" alt="Concierto" class="foto" />
        <div>

            <div class="card-group">
                <div class="card">
                    <img src="~/Content/img/con1.jpg" class="card-img-top" alt="foto">
                    <div class="card-body">
                        <h5 class="card-title">Conciertos de tus artistas favoritos</h5>
                        <p class="card-text">Conectamos a la gente con experiencias de eventos emocionantes por todo México.</p>
                        <p><a href="https://www.ticketmaster.com.mx/browse/todos-los-conciertos-catid-10001/conciertos-rid-10001" class="btn btn-primary btn-lg">Más... &raquo;</a></p>
                    </div>
                </div>
                <div class="card">
                    <img src="~/Content/img/con3.jpg" class="card-img-top" alt="foto">
                    <div class="card-body">
                        <h5 class="card-title">Boletos para eventos</h5>
                        <p class="card-text">Somos el sistema de boletos de eventos más destacado contando con presencia en México.</p>
                        <p><a href="https://www.eticket.mx/eventos.aspx?idciudad=23" class="btn btn-primary btn-lg">Más... &raquo;</a></p>
                    </div>
                </div>
                <div class="card">
                    <img src="~/Content/img/covid.jpg" class="card-img-top" alt="foto">
                    <div class="card-body">
                        <h5 class="card-title">Eventos suspendidos</h5>
                        <p class="card-text">Para conocer las novedades más recientes sobre cómo estamos abordando la situación relativa a la neumonía por coronavirus (COVID‑19)</p>
                        <p><a href="https://g.co/yt-covid19" class="btn btn-primary btn-lg">Más... &raquo;</a></p>
                    </div>
                </div>
            </div>

        </div>
    </div>

